@model IEnumerable<Webshop.Models.Product>

@{
    ViewData["Title"] = "Index";
}

<h1>Produkter</h1>

<div class="container">
    <div class="row">
        @foreach (var item in Model)
        {
            <div class="col-12 col-sm-8 col-md-6 col-lg-4">
                <div class="card">
                    <img class="card-img" src="@item.ImageURL" alt="@item.Name">
                    <div class="card-body">
                        <h4 class="card-title">@item.Name</h4>
                        <div class="buy d-flex justify-content-between align-items-center">
                            <div class="price text-success"><h5 class="mt-4">SEK @item.Price</h5></div>
                            @Html.ActionLink("Lägg till", "Add", "Cart", new { productId = item.Id }, new { @class = "btn btn-primary" })
                        </div>
                    </div>
                </div>
            </div>
        }
    </div>
</div>

<p>@ViewBag.sessionv</p>